:root {
  --primary: #012b34;
  --secondary: #000402;
  --tertiary: #02818a;
  --divider: #e6e6e6;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  line-height: 24px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

picture {
  display: block;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

.vHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 10px;
}

/* simple slide in */
@keyframes slide {
  0% {
    margin-left: -50%;
    opacity: 0;
  }

  100% {
    margin-left: inherit;
    opacity: 1;
  }
}

/* main */

.main {
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-top: 100px;
}

.main__heading {
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--primary);
}

.main__list {
}

.list {
}

.list__item {
  position: relative;
  padding: 30px 0;
}

.list__item:last-child::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background: var(--divider);
}

.list__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1px;
  background: var(--divider);
}

.item {
  display: flex;
  align-items: center;
}

.item--active {
}

.item.item--active .item__title {
  color: var(--tertiary);
}

.item.item--active .item__button {
  align-self: start;
  transform: rotate(45deg);
}

.item.item--active .item__text {
  display: block;
  animation: slide 0.2s ease-in;
}

.item__inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.item__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  color: var(--primary);
  cursor: pointer;
}

.item__text {
  display: none;
  max-width: 942px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--secondary);
  opacity: 0.8;
}

.item__button {
  margin-left: auto;
  transition: all 0.2s ease-in-out;
}

.button {
  display: flex;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

/* media */

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1232px;
  }

  .main__heading {
    font-size: 48px;
  }

  .main__wrapper {
    padding-top: 80px;
    gap: 60px;
  }

  .list__item {
    padding: 24px 0;
  }

  .item__inner {
    gap: 20px;
  }

  .item__title {
    font-size: 27px;
  }

  .item__text {
    font-size: 15px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 1086px;
  }

  .main__heading {
    font-size: 42px;
  }

  .main__wrapper {
    padding-top: 70px;
    gap: 56px;
  }
  .list__item {
    padding: 20px 0;
  }

  .item__inner {
    gap: 16px;
  }

  .item__title {
    font-size: 24px;
  }

  .item__text {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 708px;
  }

  .main__heading {
    font-size: 42px;
  }

  .list__item {
    padding: 24px 0;
  }

  .main__wrapper {
    padding-top: 60px;
    gap: 50px;
  }

  .item__title {
    font-size: 27px;
  }

  .item__text {
    font-size: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .container {
    max-width: 347px;
  }

  .main__heading {
    max-width: 190px;
    font-size: 30px;
  }

  .main__wrapper {
    padding-top: 50px;
    gap: 40px;
  }

  .list__item {
    padding: 20px 0;
  }

  .item__title {
    max-width: 289px;
    font-size: 24px;
  }

  .item__text {
    font-size: 15px;
  }
}
